<div id="caja-botones-responsive">
    <button id="boton1-responsive" class="mx-auto botones-responsive" [routerLink]="['/gastos/addgasto']">Añadir gasto</button>
    <button id="boton2-responsive" class="mx-auto botones-responsive" [routerLink]="['/gastos/allgasto']">Todos los gastos</button>
    <p class=mx-auto>Total: <button id="boton3-responsive" class="botones-responsive">123678,00€</button></p>
  </div>
  
  <div id="caja-botones" class="position-relative mb-2 mx-auto" style="width: 95%;">
    <div class="d-flex position-absolute" id="contenedor" style="left: 30px; top: -15px; width: 95%;">
      <button id="caja1" [routerLink]="['/dashboard/gastos/agregar']">
        Añadir gasto
      </button>
      <button class="ms-4" id="caja2" [routerLink]="['/gastos/allgasto']">
        Todos los gastos
      </button>
      <div class="d-flex ms-auto" id="contenedor2">
  
        <p class="mx-auto my-auto">Total:</p>
        <div id="caja3" class="ms-2">
          {{total()}}<span> €</span>
        </div>
  
  
      </div>
    </div>
  
  </div>
  <div class=" mx-auto" style="width:95%">
    <table style="width: 100%;" id="tabla1">
      <thead>
        <tr id="sombra">
          <th>Categoría</th>
          <th>Cantidad</th>
          <th>Euros</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gasto of categorias">
        <td>{{gasto.nombre}}</td>
        <td>{{gasto.data.length}}</td>
        <td>{{totalPrice(gasto.data)}} €</td>
        </tr>
        
       
  
  
  
  
      </tbody>
    </table>
  </div>
  

