.section {
    .title {
        border-left: 10px solid black;
        text-transform: uppercase;
        color: black;
    }
    form {
        .row+.row{
            margin-top: 0.45rem;
        } 
    }
  
}