// Core
* {
    font-family: "Play", sans-serif;
}
h1 {
    font-size: 38px;
    color: #05314f;
    font-weight: 500;
}

@media (max-width: 767px) {
    #img-logo {
        display: none;
    }
    h1 {
        display: none;
    }
}
  