<div class="d-flex">
  <h1 class="m-5">Dashboard</h1>
  <div style="width: 175px;" class="ms-auto mt-2 me-3" id="img-logo"><img src="../../../assets/logo.svg" width="100%">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="box">
        <h2>Introducción</h2>
        <p>
          Attia App es una aplicación diseñada para gestionar algunos campos de una empresa (empleados, gastos,
          ganancias...), de la manera más optima. Para ello
          hemos implementado interfaces agradables para el usuario, de forma que pueda ver la información de la forma
          más
          clara y con la mayor rapidez posible.
        </p>
      </div>
      <div class="mt-3 box">
        <h2>Objetivos</h2>
        <p>
          El objetivo de esta aplicación es que el usuario sea capaz de adaptarse rapidamente a la interfaz que presenta
          y
          que su uso sea lo mas fluido posible. Para ello
          hemos intentado crear un interfaz lo más intuitivo posible, también queríamos algo
          simple y que no sea muy recargado para que su uso sea fácil.
        </p>
      </div>


    </div>
    <div class=" col-md-6  offset-md-1 box">
      <h2>Tecnologías</h2>
      <p>Hemos usado las que creemos que son las herramientas más utiles para lo que buscabamos con esta aplicación.
        Utilizamos <strong>Angular</strong> como Framework por su rapidez al navegar por la aplicación,
        <strong>BootStrap</strong> junto con <strong>SCSS</strong> para el estilo de las páginas y <strong>PHP con mySQL</strong> para las
        recogida de información de la base de datos.
      </p>
      <div class="mt-5 d-flex flex-wrap justify-content-center">
        <img src="assets/icons/Angular_full_color_logo.svg.png" width="200px" height="auto">
        <img src="assets/icons/bootstrap-stack.png" width="200px" height="auto">
        <img src="assets/icons/PHP-MySQL.png" width="200px" height="auto">
      </div>
    </div>
  </div>
</div>