<div class="d-flex justify-content-between mx-5  options">
  <div id="buscador">
    <span>Buscar:</span> <input type="text" placeholder="Nombre del empleado" #txtBuscar
      (keyup)="buscarEmpleado(txtBuscar.value)">
  </div>

  <div id="add">
    <button class="px-5 btn " [routerLink]="['/dashboard/empleados/agregar']">Añadir empleado</button>
  </div>

</div>
<div class="mx-5 mt-4 d-flex justify-content-between" id="paginbtn">
  <button class="btn  d-flex align-items-center btn-paginate" (click)="prevPage()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    <span class="ms-2"> Anterior</span>
  </button>
  &nbsp;
  <button class="btn  d-flex align-items-center btn-paginate" (click)="nextPage()" disabled="disabled"
    [disabled]="(empleados | filtro:page:buscar).length===0">
    <span class="me-2">Siguiente</span>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right "
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>

  </button>
</div>

<table class="mx-auto" style="width: 95%;" id="tabla">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>DNI</th>
      <th>Sueldo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados | filtro:page:buscar">

      <td id="empID">{{empleado.id}}</td>
      <td>{{empleado.name}} {{empleado.surname}}</td>
      <td>{{empleado.dni}}</td>
      <td>{{empleado.salary}} €</td>
      <td style="width: 10%;">
        <i class="fas fa-eye  me-3" data-bs-toggle="modal" data-bs-target="#empModal"  
          (click)="seeEmployee(empleado)"></i>
        <i class="fas fa-edit me-3 " [routerLink]="['/dashboard/empleados/agregar']" (click)="editEmployee(empleado)"></i>
        <i class="far fa-trash-alt" (click)="deleteEmployee(empleado.id)"></i>
      </td>
    </tr>
    <tr *ngIf="(empleados | filtro:page:buscar).length===0"
      style="text-align: center; background-color: white; margin-left: 2em;">
      <td></td>
      <td></td>
      <td style="color: black; text-align: center;">No hay más resultados</td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="empModal" tabindex="-1" aria-labelledby="empModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empModalLabel">DETALLES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size: 1.3em;">
        <div class="row ">
          <div class="col-md-4  subtitle " >
            ID
          </div>
          <div class="col-md-8   subtitle-content" >
            {{empleado.id}}
          </div>
        </div>

        <div class="row ">
          <div class="col-md-4 subtitle ">
            NOMBRE
          </div>
          <div class="col-md-8   subtitle-content" >
            {{empleado.name}} {{empleado.surname}}
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 subtitle " >
            DNI
          </div>
          <div class="col-md-8   subtitle-content" >
            {{empleado.dni}}
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 subtitle " >
            TELÉFONO
          </div>
          <div class="col-md-8  subtitle-content" >
           +34 {{empleado.phone_number}}
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 subtitle " >
            SALARIO
          </div>
          <div class="col-md-8  subtitle-content" >
            {{empleado.salary}} €
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4  subtitle " >
            POSICION
          </div>
          <div class="col-md-8  subtitle-content" >
            {{empleado.position}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>