<div class="d-flex justify-content-between mx-5  options">
  <div id="buscador">
    <span>Buscar:</span> <input type="text" placeholder="Nombre del empleado">
  </div>

  <div id="add">
    <button class="px-5 btn " [routerLink]="['/dashboard/empleados/add-empleado']">Añadir empleado</button>
  </div>
</div>


<table class="mx-auto" style="width: 95%;" id="tabla">
  <thead>
    <tr>
      <th >#</th>
      <th>Nombre</th>
      <th>DNI</th>
      <th>Sueldo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <span class="display-5" id="mobile-id">ID: 1001</span>
    <tr>
      <td>1001</td>
      <td>Antonio Fernandez</td>
      <td>12390420-G</td>
      <td>5436,23 €</td>
      <td><i class="fas fa-eye  me-3"></i><i class="fas fa-edit me-3 "></i><i class="far fa-trash-alt"></i></td>
    </tr>





  </tbody>
</table>