@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
#blogo {
    height: 100%;
}
#form-div {
    background-color: rgba(226, 224, 114, 0.8);
    form {
        * {
            margin-bottom: 1.25rem;
        }
        label {
            font-size: 2.33rem;
            font-weight: 400;
            font-family: 'Play', sans-serif;
        }
        input {
            border-radius: 50px;
            width: 360px;
            height: 59px;
            border: 1px solid black;
            outline:none;
            padding-left: 1rem;
            padding-right: 1rem;
           
        }
        input::placeholder {
            font-size: 18px;
        }
    
        .btn-primary-custom{
            color: white;
            background-color: #05314F;
            width: 255px;
            border: 2px solid #90AA86;
            border-radius: 50px;
            font-family: 'Play', sans-serif;
            font-size: 1.55rem;
            margin: 1rem 0px 0px 0px;
            text-align: center;
            &:hover {
                background-color: #0E1428;
                color: white;
                
            }
        }
    }
   
}

@media screen and (max-width:375px){
    #form-div {
       
        form {
            input {
                width: 100%;
                
            }
        }
    }
  
}


