<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
<div id="f1">
    <button class="btn mx-5" id="btn-volver" type="button" routerLink="..">
        <i class="fas fa-chevron-circle-left"></i>
    </button>
</div>
<div class="container  ">
    <div class="box p-4 mb-2">
        <h2 class="me-auto">Cambiar Contraseña</h2>
        <form class=" mt-4 bg-light p-4 text-center ">
            <div class="d-flex flex-column">
                <label ><span>Contraseña Actual </span><input type="text"
                        placeholder="Introducir contraseña actual"></label>
                <label><span>Nueva Contraseña</span><input type="text"
                        placeholder="Introducir nueva contraseña"></label>
                <button type="submit" class="btn btn-custom mt-4 mx-auto">
                    Confimar <span>Cambio</span>
                </button>
            </div>

        </form>
    </div>
</div>