<div class="container">
    <div class="row mx-auto">
        <div class="col-md-5 p-4 box my-2">
            <h2>Detalles</h2>
            <div>
                <div>
                    <h6>Es la página de configuración de la aplicación.</h6>
                    <h6>Puedes modificar ajustes de la aplicación y el perfil.</h6>
                </div>
                <hr>
                <div>
                    <h4 class="mb-4">Información del Usuario</h4>
                    <div class="d-flex align-items-center mb-3">
                        <div class="p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-at" viewBox="0 0 16 16">
                                <path
                                    d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z" />
                            </svg>
                        </div>
                        <span class="p-2 user-detail">{{userInfo.username}}</span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </div>
                        <span class=" p-2 user-detail" style="text-transform: capitalize;">{{userInfo.name}}</span>
                    </div>

                    <div class="d-flex align-items-center mb-3">
                        <div class="p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg>
                        </div>
                        <span class=" p-2 user-detail">{{userInfo.email}}</span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </div>
                        <span class=" p-2 user-detail" style="text-transform: capitalize;"> <span
                                class="user-important"> Usuario
                                {{userInfo.admin_perm==1?'administrador':'normal'}}</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-1 my-2" id="col2">
            <div class="box p-4">
                <h2 class="text-center mb-4">Configurar Perfil</h2>
                <div id="conf-perfil-body" class="d-flex flex-column">
                    <button class="btn px-3 py-2 btn-custom" [routerLink]="['/dashboard/profile/cambiarClave']">Cambiar
                        contraseña</button>
                    <button class="btn px-3 py-2 btn-custom" [routerLink]="['/dashboard/profile/cambiarFoto']">Cambiar
                        foto
                        perfil</button>
                    <button class="btn px-3 py-2 btn-custom" [disabled]="userInfo.admin_perm ==0"
                        (click)='admin()'>Administrar</button>
                </div>
            </div>
            <div class="text-end mt-4 box p-4">

                <h2 class="text-center">Soporte</h2>
                <div id="soporte-body">
                    <p class="text-start ">Para resolver las dudas de como utilizar la aplicación, puede llamar al
                        siguiente número de
                        teléfono <span> +34
                            123 456
                            789</span> o descargando el manual de la aplicación.</p>
                    <button class="px-3 py-2 btn-custom ">Descargar Manual</button>
                </div>
            </div>
        </div>
    </div>

</div>