<div class="container">
    <div class="row mx-auto">
        <div class="col-md-5 p-4 box my-2">
            <h2>Permisos Activados</h2>
            <div id="permisos-body" class="px-4 py-2 ">
                <div class="d-flex  align-items-center ">
                    <div class="permiso" style="background-color: #7dce82;"></div>
                    <span class="ms-3">Modificar datos</span>
                </div>
                <div class="d-flex  align-items-center">
                    <div class="permiso" style="   background-color: #FE5F55;"></div>
                    <span class="ms-3">Eliminar datos</span>
                </div>
                <div class="d-flex  align-items-center">
                    <div class="permiso" style="   background-color: #7dce82;"></div>
                    <span class="ms-3">Consultar</span>
                </div>
                <div class="d-flex  align-items-center">
                    <div class="permiso" style="   background-color: #7dce82;"></div>
                    <span class="ms-3">Consultar</span>
                </div>
                <div class="d-flex  align-items-center">
                    <div class="permiso" style="   background-color: #7dce82;"></div>
                    <span class="ms-3">Consultar</span>
                </div>
                <div class="d-flex  align-items-center">
                    <div class="permiso" style="   background-color: #7dce82;"></div>
                    <span class="ms-3">Consultar</span>
                </div>
                <div class="d-flex  align-items-center">
                    <div class="permiso" style="   background-color: #7dce82;"></div>
                    <span class="ms-3">Consultar</span>
                </div>
                <div class="d-flex  align-items-center">
                    <div class="permiso" style="   background-color: #FE5F55;"></div>
                    <span class="ms-3">Administrar Sistema</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-1 my-2" id="col2">
            <div class="box p-4">
                <h2 class="text-center mb-4">Configurar Perfil</h2>
                <div id="conf-perfil-body" class="d-flex flex-column">
                    <button class="btn px-3 py-2 btn-custom" [routerLink]="['/dashboard/profile/cambiarClave']">Cambiar
                        contraseña</button>
                    <button class="btn px-3 py-2 btn-custom" [routerLink]="['/dashboard/profile/cambiarFoto']">Cambiar foto
                        perfil</button>
                    <button class="btn px-3 py-2 btn-custom" >Administrar</button>
                </div>
            </div>
            <div class="text-end mt-4 box p-4">

                <h2 class="text-center">Soporte</h2>
                <div id="soporte-body">
                    <p class="text-start ">Para resolver las dudas de como utilizar la aplicación, puede llamar al
                        siguiente número de
                        teléfono <span> +34
                            123 456
                            789</span> o descargando el manual de la aplicación.</p>
                    <button class="px-3 py-2 btn-custom ">Descargar Manual</button>
                </div>
            </div>
        </div>
    </div>

</div>