<div class="header mt-2">
    <h3>Configuración</h3>
</div>
<hr>
<div class="p-2">
    <div class="section text-start">
        <div class="title">
            <h5 class=" ms-2">Preferencias</h5>
        </div>
        <div class="content p-3 mx-4">
            <form>
                <div class="row g2 align-items-center">
                    <span class="col-auto">Idioma Seleccionado</span>
                    <div class="col-auto">
                        <select class="form-select">
                            <option lang="es" value="spanish" selected>Español</option>
                            <option lang="en" value="english">English</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>