<div class="header mt-2">
    <h3>Categorías</h3>
</div>
<hr>
<div class="p-2">
    <div class="section">
        <div class="title">
            <h5 class="text-start ms-2">Crear Categoría</h5>
        </div>
        <div class="content p-3 mx-4">
            <form [formGroup]="catForm" (ngSubmit)="post()">
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <label class="col-form-label">Nombre</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-auto ">
                        El nombre debe tener más de 1 letra
                    </div>
                    <div class="col-auto ms-auto">
                        <button type="submit" class="btn btn-success ">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="section">
        <div class="title">
            <h5 class="text-start ms-2">Modificar Categorías</h5>
        </div>
        <div class="content p-3 mx-4">
            <table class="table ">
                <thead>
                    <tr>
                        <th class="text-start" scope="col">Nombre</th>
                        <th scope="col">Relaciones</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of categories">
                        <td class="text-start">{{c.nombre}}</td>
                        <td>{{c.relaciones}}</td>
                        <td><button class="btn btn-danger" style="height: 1vh; width: 4vw;" title="Eliminar" (click)="delCat(c)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>