



<form class=" p-4 row m-4" id="borde">

    <div class="col-md-8" id="campos">
      <div class="mb-2">
        <span>Nombre: </span> <input  type="text" placeholder="Ej: Adrián Rodríguez">
      </div>
      <div class="mb-2">
        <span>DNI: </span> <input type="text" placeholder="Ej: Adrián Rodríguez">
      </div>
      <div class="mb-2">
        <span>Sueldo: </span> <input type="text" placeholder="Ej: Adrián Rodríguez">
      </div>
      <div class="mb-2">
        <span>Teléfono: </span> <input type="text" placeholder="Ej: Adrián Rodríguez">
      </div>
      <div class="mb-2">
        <span>Puesto: </span> <input type="text" placeholder="Ej: Adrián Rodríguez">
      </div>
      <div class="button2" id="add">
        <button class="px-5 mt-3">Añadir </button>
      </div>
  
    </div>
  
    <div class="col-md-4">
      <img src="../../../assets/logo.svg" width="241" height="124">
      <div class="add button1 mt-5" id="add">
        <button type="submit"class="btn px-5 mt-3 mx-auto">Añadir </button>
      </div>
    </div>
  </form>
  
